.add-job-btn {
    width: auto;
    height: 40px;
    background-color: #44af4d;
    border-radius: 10px;
    color: white;
    border:none;
    border-radius: 4px;
    position: relative;
}

.add-job-btn:hover {
    background-color: #3bb92a;
    cursor: pointer;
}

.add-job-form {
    display: flex;
    flex-direction: column;
}

.add-job-form label {
    margin-bottom: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

label{
    margin-left:5px
}
select{
    height: 30px;
}

.modal-btn-back {
    background-color: #9b2e2a;
    color:white;
    border:none;
    border-radius: 4px;
}

.modal-btn-back:hover {
    background-color: #b33a1b;
}

.modal-btn-submit {
    background-color: #44af4d;
    color:white;
    border:none;
    border-radius: 4px;
}

.modal-btn-submit:hover{
    background-color: #3bb92a;
}

.modal-inputs {
    width: 80%;
    height: 20px;
    font-size: 18px;
    font-family: 'Mulish';
    border-radius: 4px;
    outline: none;  
    margin-top: 5px;
    border: 1px solid #c2bebe9d;
    box-shadow: rgba(148, 147, 147, 0.16) 0px 1px 4px;
}

.modal-input-cost{
    width: 20%;
    height: 20px;
    font-size: 18px;
    font-family: 'Mulish';
    border-radius: 4px;
    outline: none;  
    margin-top: 5px;
    border: 1px solid #c2bebe9d;
    box-shadow: rgba(148, 147, 147, 0.16) 0px 1px 4px;
}

.modal-input-cost-title {
    margin-top: 8px;
}

.modal-cost {
    display: flex;
    flex-direction: row;
}

.modal-forms {
    display: flex;
    flex-direction: column;

}

.modal-headers{
    margin-top: 5px;
}

.modal-data {
    width: 35%;
    height: 30px;
    border: 1px solid #c2bebe9d;
    box-shadow: rgba(148, 147, 147, 0.16) 0px 1px 4px;
}