
p {
    margin-left: 1vw;
    color: #000743;
    margin-bottom: 10px;
}

.dropdown-select {
    border: none;
    width: 80%;
    height: 4vh;
    border-bottom: 1px solid #000743;
    font-size: 1em;
    margin-left: 0.5vw;
    color: #999;
    cursor: pointer;
    outline: none;
}

.dropdown-select.active {
    color: black;
}

.datetime {
    display: flex;
    flex-direction: row;
    height: 3vh;
    align-items: center;
}

.date {
    margin: 0 0.5vw 0 0.5vw;
    height: 3vh;
}

.cost-block {
    border: 1px solid #000743;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left:0.5vw;
    justify-content: center;
    vertical-align: middle;
    height: 30px;
}

.input-cost {
    margin-left: 0.5vw;
    height: 20px;
    width: 40%;
    border: none;
    outline: none;
}

.ruble {
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.other-filters {
    margin-bottom: 0vh;
}

#sortby {
    width: 90%;
}

.total-found-block {
    display: flex;
    justify-content: center;
}

.total-found-button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: auto;
    height: 4vh;
    background-color: #FD7E14;
    border-radius: 4px;
    color: white;
    border: 1px solid black;
}

.total-found-button:hover {
    background-color: #ff8f33;
    cursor: pointer;
}

.select-filters {
    color: black;
}

.dropdown-select option.select-filters {
    color: black;
}
