.header-name {
    font-family: 'Mulish';
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 85px;
    margin-left: 1vw;
    user-select: none;
    white-space: normal;
}
img {
    margin-left: 20vw;
}

#for-executor {
    margin-right: 2vw;
}

#for-customer {
    margin-left: 2vw;
}

.chapter-executor,
.chapter-customer {
    background-color: white;
    padding-top: 15px;
    border: none;
    width: 115px;
    height: 78px;
    margin-left: 5vw;
    align-items: center;
    font-family: 'Kanit';
    font-size: 18px;
    vertical-align:text-bottom;
    display: flex;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
}

.active-link {
    border-bottom: 3px solid #000743;
    /* background-color: #ebebee; */
    text-decoration: none;
}

.chapter-executor:hover {
    /* background-color: #ebebee; */
    cursor:pointer;
    text-decoration: none;
}



.chapter-customer:active {
    border-bottom: 3px solid #000743;
    /* background-color: #ebebee; */
    text-decoration: none;
}

.chapter-customer:hover {
    /* background-color: #ebebee; */
    cursor:pointer;
    text-decoration: none;
}

#for-executor {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}

#for-customer {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}

.report-problem {
    font-size: 15px;
    color: #8A8686;
    margin-left: 1vw;
}