.header-logo-and-name{
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: relative;
    left: 0;
    margin-right: 5%;
}

.header-name {
    font-family: 'Mulish';
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 85px;
    margin-left: 1%;
    user-select: none;
    white-space: normal;
    padding-bottom: 5px;
}

.logo {
    margin-left: 10%;
}

#for-executor {
    margin-right: 2vw;
}

#for-customer {
    margin-left: 2vw;
}

.chapter-executor,
.chapter-customer,
.chapter-myresponses,
.chapter-profile {
    background-color: white;
    padding-top: 15px;
    border: none;
    width: 115px;
    height: 63px;
    margin-left: 2%;
    align-items: center;
    font-family: 'Kanit';
    font-size: 18px;
    vertical-align:text-bottom;
    display: flex;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
}

.active-link {
    border-bottom: 3px solid #000743;
    /* background-color: #ebebee; */
    text-decoration: none;
}


.chapter-executor:hover,
.chapter-customer:hover,
.chapter-myresponses:hover,
.chapter-profile:hover {
    /* background-color: #ebebee; */
    cursor:pointer;
    text-decoration: none;
    border-bottom: 3px solid #000743;
    padding-top: 17px;
}



/* .chapter-customer:active {
    border-bottom: 3px solid #000743;
    background-color: #ebebee;
    text-decoration: none;
} */


/* .chapter-myresponses:active {
    border-bottom: 3px solid #000743;
    text-decoration: none;
} */ 
#for-executor {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}

#for-customer {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}

#myresponses {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}

#profile-link {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}

.sign-up {
    font-size: 16px;
    color: #8A8686;
    margin-left: 0px;
    padding-top: 14px;
    text-decoration: none;
    white-space: nowrap;
    /* padding-left:1vw; */
    width: auto;
    height: 26px;
    border: none;
    background-color: white;
}

.sign-up:hover {
    cursor: pointer;
    text-decoration: underline;
}