.header-name {
    font-family: 'Inknut Antiqua';
    font-size: 32px;
    font-weight: 600;
    display: flex;
    width: 15vw;
    margin-left: 3vw;
    user-select: none;
    white-space: nowrap
}

.login {
    width: 106px;
    height: 36px;
    margin-left: 30vw;
    background-color: #0056B3;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}

#for-executor {
    margin-right: 2vw;
}

#for-customer {
    margin-left: 2vw;
}

.login:hover {
    background-color: #0773e7;
}

.chapter-executor,
.chapter-customer {
    background-color: white;
    border: none;
    width: 13vw;
    height: 10vh;
    margin-left: 3vw;
    align-items: center;
    font-family: 'Kanit';
    font-size: 24px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.active-link {
    border-bottom: 3px solid red;
    background-color: #ebebee;
    text-decoration: none;
}

.chapter-executor:hover {
    background-color: #ebebee;
    cursor:pointer;
    text-decoration: none;
}



.chapter-customer:active {
    border-bottom: 3px solid red;
    background-color: #ebebee;
    text-decoration: none;
}

.chapter-customer:hover {
    background-color: #ebebee;
    cursor:pointer;
    text-decoration: none;
}

#for-executor {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}

#for-customer {
    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    user-select: none;
    text-decoration: none;
    color: black;
}