.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 22vw;
    overflow: hidden;
}

.filters {
    height: 71vh;
    min-width: 300px;
    position: relative;
    top: 7vh;
    width: 22vw;
    border: 1px solid black;
    background-color: #FEF6E1;
}

.order-cards {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 3.5vh;
    left: 13%;
    width: 50vw;
}