.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 0vw;
    overflow-y: hidden;
    justify-content: space-between;
}

.filters {
    height: 680px;
    min-width: 300px;
    position: relative;
    top: 6.5vh;
    width: 22vw;
    border: 1px solid #F5F5F5;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.1);
    padding-left: 1vw;
    margin-right: 10vw;
    margin-left:15px;
}

.order-cards {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 6.5vh;
    left: 13%;
    width: auto;
}

.customer-fil-btn {
    display: flex;
    flex-direction: column;
}