.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 22vw;
}

.filters {
    height: 71vh;
    min-width: 300px;
    position: relative;
    top: 7vh;
    width: 22vw;
    border: 1px solid #F5F5F5;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-cards {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 3.5vh;
    left: 13%;
    width: 50vw;
}

.customer-fil-btn {
    display: flex;
    flex-direction: column;
}