.order-card{
    position: relative;
    width: 51.5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

/* .order-card:hover {
    background-color: #f0f0f0;
} */

.info-card {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


.card-cost {
    position: absolute;
    top: 1vh;
    right: 2vw;
    font-size: 20px;
}

.card-employer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    margin-top: 0;
}

.card-employer {
    margin: 0;
    margin-left: 0.5vw;
    font-weight: bold;
}

.respond-btn {
    margin-left: 20px;
    margin-bottom: 1vh;
    margin-right: 20px;
    width: auto;
    height: 4vh;
    background: none;
    background-color: #000743;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    border: none;
}

.respond-btn:hover {
    background-color:#020c68 ;
    cursor: pointer;
}

.card-header,
.card-main-info {
    margin-top: 20px;
}

.hr-line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 5px 0;
}

.card-header{
    font-size: 24px;
    font-weight: 550;
}

.card-main-info,
.card-employer{
    font-size: 20px;
    min-width: 180px;
}

.card-main-info{
    flex: 0 0 20px; /* Фиксированная ширина для меток, можно настроить по необходимости */
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.card-order-value {
    flex: 1;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 5px;
}