.order-card{
    position: relative;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    background-color: #FEF6E1;
    margin-bottom: 10px;
}

.order-card:hover {
    background-color: #f5e1b0;
}

.card-cost {
    position: absolute;
    top: 1vh;
    right: 2vw;
}

.card-employer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

.card-employer {
    margin: 0;
    margin-bottom: 2vh;
}

.respond-btn {
    margin-left: 20px;
    margin-bottom: 1vh;
    margin-right: 20px;
    width: auto;
    height: 4vh;
    background: none;
    background-color: #28A745;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    border: none;
}

.respond-btn:hover {
    background-color:#22b946 ;
    cursor: pointer;
}

.card-header,
.card-main-info {
    margin-top: 20px;
}

.hr-line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 5px 0;
}

.card-header{
    font-size: 24px;
    font-weight: 550;
}

.card-cost,
.card-main-info,
.card-employer{
    font-size: 20px;
}

.delete-card-btn {
    margin-left: 20px;
    margin-bottom: 1vh;
    margin-right: 20px;
    width: auto;
    min-width: 120px;
    height: 4vh;
    background: none;
    background-color: #c90f08;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    border: none;
}

.delete-card-btn:hover {
    background-color:#ff3300 ;
    cursor: pointer;
}

.edit-card-btn {
    margin-left: 20px;
    margin-bottom: 1vh;
    margin-right: 20px;
    width: auto;
    min-width: 120px;
    height: 4vh;
    background: none;
    background-color: #e0960b;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    border: none;
}

.edit-card-btn:hover {
    background-color:#faa200 ;
    cursor: pointer;
}

