.profile-main-info-part {
    display: grid;
    grid-template-columns: repeat(4, 15%); /* 4 колонки равной ширины */
    grid-template-rows: repeat(2, auto);   /* 2 ряда по высоте контента */
    gap: 10px; /* Отступы между элементами */
}

.not-self-employed-text {
    color: red;
}

.set-is-employed {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    min-width: 100px;
    height: 35px;
    background: none;
    background-color: #44af4d;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: none;
    text-wrap: nowrap;
}

.set-is-employed:hover {
    background-color: #3bb92a;
    cursor: pointer;
}


.profile-element {
    display: flex;
    flex-direction: column;
}

.profile-title {
    font-size: 18px;
    font-weight: bold;
    color: #000743;
    margin-bottom: 5px;
}

.profile-block-title {
    font-size: 22px;
    color: #000743;
    font-weight: bold;
}

.profile-page {
    position: relative;
    overflow-y: auto;
}

.profile-block-title-rating {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.profile-block-rating {
    display: flex;
    flex-direction: row;
    height: 52px;
}

.profile-block-rating-title {
    font-size: 20px;
    color: #000743;
    font-weight: 200;
    height: 20px;
}

.user-list-block-rating-title {
    font-size: 20px;
    color: #000743;
    font-weight: 200;
    height: 20px;
    margin-top: 25px;
}

.profile-block-rating-stars {
    position: relative;
    margin-top: 10px;
    margin-left: 30%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.user-list-rating-stars{
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 0.5vw;
}

.star-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
}

.star-background,
.star-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-main-info-part > .profile-element:nth-child(1),
.profile-main-info-part > .profile-element:nth-child(2),
.profile-main-info-part > .profile-element:nth-child(3),
.profile-main-info-part > .profile-element:nth-child(4) {
    grid-column: span 1; /* Каждому элементу из первых четырех задаем по 1 колонке */
}

.profile-main-info-part > .profile-element:nth-child(5),
.profile-main-info-part > .profile-element:nth-child(6),
.profile-main-info-part > .profile-element:nth-child(7) {
    grid-column: span 1; /* Каждому элементу из последних трех задаем по 1 колонке */
}


.profile-additional-info-part {
    display: grid;
    grid-template-columns: repeat(4, 15%); /* 4 колонки равной ширины */
    grid-template-rows: repeat(3, auto);   /* 2 ряда по высоте контента */
    gap: 10px; /* Отступы между элементами */
}

.profile-main-info-part > .profile-element:nth-child(1),
.profile-main-info-part > .profile-element:nth-child(2),
.profile-main-info-part > .profile-element:nth-child(3),
.profile-main-info-part > .profile-element:nth-child(4) {
    grid-column: span 1; /* Каждому элементу из первых четырех задаем по 1 колонке */
}

.profile-main-info-part > .profile-element:nth-child(5),
.profile-main-info-part > .profile-element:nth-child(6),
.profile-main-info-part > .profile-element:nth-child(7),
.profile-main-info-part > .profile-element:nth-child(8) {
    grid-column: span 1; /* Каждому элементу из первых четырех задаем по 1 колонке */
}

.profile-main-info-part > .profile-element:nth-child(9),
.profile-main-info-part > .profile-element:nth-child(10),
.profile-main-info-part > .profile-element:nth-child(11),
.profile-main-info-part > .profile-element:nth-child(12) {
    grid-column: span 1; /* Каждому элементу из первых четырех задаем по 1 колонке */
}

