.search-form {
    margin-top: 56px;
    position: relative;
    left: 13vw;
}

.search-form:after {
    content: "";
    clear: both;
    display: table;
}

.search-system {
    width: 53vw;
    height: 35px;
    border-radius: 6px;
    border: 2px solid black;
    outline: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.search-bar {
    width: 47vw;
    height: 32px;
    font-size: 16px;
    padding-left: 1px;
    border:none;
    outline: none;
}

.submit {
    margin-right: 6px;
    width: 5vw;
    height: 30px;
    background: none;
    background-color:#000743;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
}

.submit:hover {
    background-color: #020c68;
    cursor: pointer;
}

.total-found {
    margin-top: 10px;
    font-size: 16px;
    color: #464545;
}

.search-and-add-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
}